

@font-face { font-family: JuneBug; src: url('SAMAN___.TTF'); } 
  
#content {
    font-family: JuneBUg;
    font-size: 85px;
    background: rgba(255, 255, 255, 0.739);
    color: #e6651b;
    width: 100%;
    height: 120px;
    text-align: center;
    
   
  }
 body{
   background-color: rgba(137, 142, 189, 0.5);
 }
  
#myVideo {
    padding-top: 0pxx;
    min-width: 100%; 
    min-height: 100%;
  }
.mybutton {

  padding: 16px 32px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
  font-family:'JuneBUg';
  color: rgb(20, 17, 12);
  text-decoration: none;
  background-position: 0in;
  font-size: 56px;
}
