<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
    <link rel="stylesheet" href="../static/css/gallery.css">
    <link rel="stylesheet" href="../static/css/na.css">
</head>

<body>
    <nav>
        <label class="logo">SANSKRITI</label>
        <ul>
            <li><a href="{{url_for('Map')}}">Home</a></li>
            <li><a href="{{url_for('About')}}">About</a></li>
            <li><a href="{{url_for('Contact')}}">Contact</a></li>
            <li><a href="{{url_for('Gallery')}}">Gallery</a></li>
            <li><a href="{{url_for('Team')}}">Team</a></li>
        </ul>
    </nav>
    <h1>indian art gallery</h1>
    <div class="container ">
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/gond .jpg " alt="Gond ">
            </div>
            <h1>Gond Painting</h1>
            <p>These vibrant paintings created with a series of intricately arranged dots and dashes were developed by the Gondi tribe of central India. The tribals recreate mythological tales and oral histories to traditional songs, natural surroundings,
                important events and rituals in with great intricacy, rich detailing, and bright colors. Traditionally, colors were derived from natural resources like cow dung, plant sap, charcoal, coloured soil, mud, flowers, leaves etc.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/IMG_1635Madhubani__Baua_devi__size-59X43_Rs.75000_.jpg " alt="Gond ">
            </div>
            <h1>Madhubani Paintings</h1>
            <p>One of the most celebrated styles of folk paintings in India is, Madhubani which originated in the Mithila region of Bihar as a form of wall art. This spectacular art style was unknown to the outside world until discovered by the British colonial
                William G. Archer in 1934 while inspecting the damage after the massive Bihar earthquake. Archer was amazed by the beautiful illustrations on the exposed interior walls of the houses.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/kalamkari.jpg " alt="Gond ">
            </div>
            <h1>Kalamkari Painting</h1>
            <p>This 3000-year-old organic art of hand and block printing was traditionally used for making narrative scrolls and panels. This exquisite folk art has a strong connect with Persian motifs. Kalamkari derives its name from kalam or pen and is
                a legacy that has been handed down from generation to generation in Andhra Pradesh.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/Kalighat.jpg " alt="Gond ">
            </div>
            <h1>Kalighat Painting</h1>
            <p>The Kalighat painting style was developed around Mid-19th century in the neighbourhood of Kali Temple in Calcutta. These drawings on paper were done by a group known as “patuas” hence the name Kalighata Pata. They depicted scenes of everyday
                life and mythological deities in a simple yet captivating manner and developed into the popular kalighat style of painting.
            </p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/kerala_mural.jpg " alt="Gond ">
            </div>
            <h1>Kerala Murals Painting</h1>
            <p>The vibrant Kerala mural paintings are one of the world’s most famous frescos and have deep spiritual roots depicting themes of Hindu mythology, epics, the classic frolics of Krishna as well as the mystic forms of Siva and Shakti. They also
                recount some legendary heroes of the bygone era.Ochre-red, yellow- ochre, bluish- green, white and pure colors are predominantly used in Kerala mural painting.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/MINIATURE.jpg " alt="Gond ">
            </div>
            <h1>Miniature Painting</h1>
            <p>The Miniature painting style came to India with the Mughals in the 16th century and is identified as an important milestone in the history of Indian art. It developed into a distinct style with a combination of Islamic, Persian and Indian
                elements. The painting is done using natural stone colors on a paper-based “wasli”. Mineral colors, precious stones, conch shells, gold and silver are used in the miniatures.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/odisha_patachitra.jpg " alt="Gond ">
            </div>
            <h1>Patachitra Painting</h1>
            <p>Patachitra is the cloth scroll painting tradition from Odisha, dedicated to mythological and religious themes. Bold, strong outlines, vibrant colors like white, red yellow and black with decorative borders are some of the characteristics of
                patachitra painting style, that is admired by art lovers across the world.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/Phad.jpg " alt="Gond ">
            </div>
            <h1>Phad Painting</h1>
            <p>Phad is the narrative scroll painting tradition from Rajasthan, dating back to a thousand years. Stories of local deities and heroes are painted on horizontal cloth scrolls in hues of red, yellow and orange. The Phad scrolls show depictions
                of battlefields, adventure stories, legendary romances and the richness of the Indian princely states. The Phad painting style leaves one spellbound at how the folk artists accommodate multiple stories in a single composition, yet maintain
                the aesthetics of artistic expression.</p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/PICHWAi.jpg " alt="Gond ">
            </div>
            <h1>Pichwai Painting</h1>
            <p>The art of Picchwai originated as wall hangings behind the main deity in Krishna temples in Nathdwara. They narrate stories related to Lord Krishna. Gradually with commercialisation secular themes are also incorporated in the Picchwai style
                of painting. Picchwais are colourful and intricate works of art with concealed symbolism in the artistic motifs. This distinct devotional art practice has passed from one generation to another and a fine example of spirituality in art.
            </p>
        </div>
        <div class="box ">
            <div class="imgbox ">
                <img src="../static/images/Warli Painting.jpg " alt="Gond ">
            </div>
            <h1>Warli Painting</h1>
            <p>The 2500-year-old tradition of Warli paintings of the Thane and Nasik areas of Maharashtra are closely linked with nature and social rituals of the tribe. Warli paintings showcase daily activities of the local people of that community like
                farming, dancing, hunting, praying etc. Traditionally, women used twigs to draw lively designs with rice paste on mud walls of tribal houses to mark celebrations of harvests or weddings. Simple geometrical patterns in white against a red
                or yellow surface are used to depict everyday life scenes.
            </p>
        </div>
    </div>
</body>

</html>