<html>

<head>
    <link rel="stylesheet" href="../static/css/add.css">
    <link rel="stylesheet" href="../static/css/na.css">
</head>

<body>

    <nav>

        <label class="logo ">SANSKRITI</label>
        <ul>
            <li><a href="{{url_for( 'Map')}} ">Home</a></li>
            <li><a href="{{url_for( 'About')}} ">About</a></li>
            <li><a href="{{url_for( 'Contact')}} ">Contact</a></li>
            <li>
                <a href="{{url_for( 'Team')}} ">Team</a>
            </li>
        </ul>
    </nav>
    <br> {% block content %} {%for i in data['data']%}
    <h1>{{i['state']}}</h1>


    <div class="container">
        {%for j in i["place"]%}
        <div class="box">
            <div class="imgbox">
                <img src="{{j['p_img']}}" alt="Avatar" style="width:100% ; height: 200px;"></br>
                <h5><b>{{j["name"]}}</b></h5>
                <h5><b>{{j["yr"]}}</b></h5>

            </div> <br><br><br>
            <p>{{j["about"]}}</p>
        </div>


        {%endfor%}
    </div>
    {%endfor%} {% endblock %}

    <script src="../static/js/slide.js"></script>
</body>

</html>