<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <hr style="height:20px;background-color:rgb(243, 171, 36);">
    <h1 id="content">Sanskriti</h1>
    <hr style="height:20px;background-color:rgb(32, 224, 80);">
    </br>
    </br>
    </br>
    </br>
    <video autoplay muted loop id="myVideo">
      <source src="{{ url_for('static', filename='video/in.mp4')}}" type="video/mp4">
  </video>
    <p id="para">
        India is known for diversity in the region, diversity in languages, diversity in food, diversity in clothing, diversity in the festival, diversity in states, diversity in everything that represents the world, country and its people. India, our country
        is a huge and beautiful land full of wonders. From the Himalayas to the Indian Ocean, Desert of Thar in the snowy mountains of Sikkim, it is a country full of beautiful landscapes and beautiful people. India is a unique country with diversity.
        "Unity is diversity" is the main slogan of the country. India is a country of the republic that is for the people, by the people and by the people. People run their county, people choose their own leader, and people are independent of everything.
        India is a country where people are changed according to their location. Each state has its incredible beauty of heritage as well as the nation. Each state has its own history of religion.
    </p>
    <div class="slideshow-container">


        <div class="mySlides fade">

            <img src="../static/images/e.jpg" style="width:1000px">

        </div>

        <div class="mySlides fade">
            <img src="../static/images/b.jpg" style="width:1000px">

        </div>
        <div class="mySlides fade">

            <img src="../static/images/c.jpg" style="width:1000px">

        </div>
        <div class="mySlides fade">

            <img src="../static/images/a.jpg" style="width:1000px">

        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>

    </div>


    <p id="para">
        The oceans bathing its shores on three sides and the mighty Himalayas to the north have given my country natural boundaries. Once again, the attraction of the mountain has attracted many adventures to this land of rich culture. India is rich in dialects
        and languages. Twenty-two languages constitutionally enjoy official language status, but Hindi is recognized as the lingua franca of the nation. From Kashmir to Kanyakumari and from Nagaland to Mumbai, Hindi is understood as the national language
        of India. <span id="dots"></span><span id="more"></br>
        Although different regions have different regional affiliations, they are all Indian. People are called Bihari , Punjabi, Kashmiri, Marathi, Gujarati, but they are proud to say that
        they are Indians. Indian dance and theatre are brilliant examples of unity in diversity. The country is full of tribal dances, folk dances, and classical dances of great virtuosity. They are considered as the mode of aesthetic expression but they
        all symbolize India. The expression is different but the theme is the same. We are proud of our cultural distinctiveness. We are proud to be the inhabitants of India. It is our responsibility to maintain its unique characteristic. We should think
        beyond petty interests and work for the broader goals of prosperity and progress in society.</span>
    </p>
    <p style="text-align: center;"><a onclick="myFunction()" id="myBtn">Read more</a></p>



    <div class='center'>
        <a href="/Map" style="text-decoration: none;">
            <button type="button" class="mybutton">
      LET EXPLORE!
        </button></a>
    </div>
    <hr style="height:10px;background-color:rgb(255, 145, 0);">
    <hr style="height:10px;background-color:rgb(20, 189, 62);">


    <script src="{{ url_for('static', filename='js/slide.js')}}"></script>
</body>

</html>