<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/ST.CSS">
</head>

<body>
    <nav>
        <label class="logo ">SANSKRITI</label>
        <ul>
            <li><a href="{{url_for( 'Map')}} ">Home</a></li>
            <li><a href="{{url_for( 'About')}} ">About</a></li>
            <li><a href="{{url_for( 'Contact')}} ">Contact</a></li>
            <li><a href="{{url_for( 'Gallery')}} ">Gallery</a></li>
            <li>
                <a href="{{url_for( 'Team')}} ">Team</a>
            </li>
        </ul>
    </nav>

    <div>

        <div class="chota">
            <img width="400" height="350" src="../static/images/1.jpg" style="border-radius: 1em;box-shadow: 0 2px 19px rgba(37, 34, 34, 0.7);">
            <div>
                <a href="Gallery"><img width="400" height="350" src="../static/images/1.jpg" style="border-radius: 1em;box-shadow: 0 2px 19px rgba(37, 34, 34, 0.7);margin-top: 30px;">
                    <div class="centered">Art</div>
                </a>
            </div>

        </div>


        <div id="image-map">
            <img width="1000" height="1000" src="../static/images/India-Map.jpg" alt="Our Locations" style="border-radius: 1em;">
            <div class="pin pin-down" data-xpos="280" data-ypos="595">
                <h2 class="te">Maharashtra</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src="/static/images/f.jpg"></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="276" data-ypos="710">
                <h2 class="te">Goa</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="330" data-ypos="755">
                <h2 class="te">Karnataka</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="392" data-ypos="650">
                <h2 class="te">Telangana</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="420" data-ypos="725">
                <h2 class="te">Andhra Pradesh</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="400" data-ypos="865">
                <h2 class="te">Tamil Nadu</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="340" data-ypos="865">
                <h2 class="te">Kerla</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="178" data-ypos="520">
                <h2 class="te">Gujrat</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="380" data-ypos="485">
                <h2 class="te">Madhya pradesh</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="448" data-ypos="535">
                <h2 class="te">Chatisgharh</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="430" data-ypos="365">
                <h2 class="te">Uttar Pradesh</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="290" data-ypos="300">
                <h2 class="te">Punjab</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="290" data-ypos="200">
                <h2 class="te">Jammu And Kashmir</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="565" data-ypos="390">
                <h2 class="te">Bihar</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="342" data-ypos="260">
                <h2 class="te">Himachal Pradesh</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="580" data-ypos="550">
                <h2 class="te">Odisha</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="630" data-ypos="470">
                <h2 class="te">West Bengal</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="750" data-ypos="390">
                <h2 class="te">Meghalaya</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="830" data-ypos="310">
                <h2 class="te">Arunachal Pradesh</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="810" data-ypos="360">
                <h2 class="te">assam</h2>
                <ul class="uo">
                    <img width="190px" height="100px" src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="550" data-ypos="455">
                <h2 class="te ">Jharkhand</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="850" data-ypos="355">
                <h2 class="te ">Nagaland</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="650" data-ypos="345">
                <h2 class="te ">Sikkim</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="830" data-ypos="400">
                <h2 class="te ">Manipur</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="800" data-ypos="430">
                <h2 class="te ">Mezoram</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="760" data-ypos="430">
                <h2 class="te ">Tripura</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="390" data-ypos="300">
                <h2 class="te ">Uttarakhand</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
            <div class="pin pin-down" data-xpos="330" data-ypos="330">
                <h2 class="te ">Haryana</h2>
                <ul class="uo ">
                    <img width="190px " height="100px " src=" r2.PNG "></img>
                </ul>
            </div>
        </div>

    </div>

    <!-- Script -->
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
    <script src='../static/js/s.js' type="text/javascript "></script>
</body>

</html>