<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Second page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/nav.css">
</head>

<body>
    <nav>
        <label class="logo ">SANSKRITI</label>
        <ul>
            <li><a href="{{url_for( 'Map')}} ">Home</a></li>
            <li><a href="{{url_for( 'About')}} ">About</a></li>
            <li><a href="{{url_for( 'Contact')}} ">Contact</a></li>
            <li><a href="{{url_for( 'Gallery')}} ">Gallery</a></li>
            <li>
                <a href="{{url_for( 'Team')}} ">Team</a>
            </li>
        </ul>
    </nav>
    <div style="text-align:center; ">

        <img id="India-Map " src="../static/images/India-Map.jpg " alt="India Map " width="800 " height="790 " class="aligncenter " usemap="#shapemap " style="padding-top: 30px; " />

        <map name="shapemap " id="shape-map ">
            <area shape="poly " coords="355,698, 300,772, 335,826, 374,737, 379,706 " href="https://facebook.com "
                alt="Tamil NAdu " target="_blank ">
            <area shape="poly " coords="239,720, 316,836, 329,824, 297,774, 258,712 " href="https://facebook.com "
                alt="Kerala " target="_blank ">
            <area shape="poly " coords="306,564, 283,549, 238,612, 248,694, 298,763, 339,706, 314,690, 291,636 "
                href="https://facebook.com " alt="Karnataka " target="_blank ">
            <area shape="poly " coords="384,694, 315,683, 302,625, 370,587, 416,576, 467,541, 487,557, 383,646 "
                href="https://facebook.com " alt="Andhra Pradesh " target="_blank ">
            <area shape="poly " coords="218,623, 176,547, 213,483, 329,480, 341,520, 280,545 "
            href="{{url_for('api_hit')}}" alt="Maharastra " target="_blank ">
            <area shape="poly " coords="235,428, 230,479, 339,476, 368,420, 367,402, 383,385 "
                href="https://facebook.com " alt="Madhya Pradesh " target="_blank ">
            <area shape="poly " coords="308,281, 291,315, 349,339, 350,365, 406,389, 421,331 "
                href="https://facebook.com " alt="Uttar Pradesh " target="_blank ">
        </map>
    </div>

</body>

</html>