<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <article class="flow">
        <h1>Our Team</h1>
        <p>"SANSKRITI - THE CULTURE AND HERITAGE OF INDIA" BY :</p>
        <div class="team">
            <ul class="auto-grid" role="list">
                <li class="profile">
                    <h2 class="profile__name">RAVI YADAV</h2>
                    <img alt="Ravi Yadav" src="images/sid.jpg" />

                </li>
                <li class="profile">

                    <h2 class="profile__name">SHUBHAM SANGULAGE</h2>
                    <img alt="Shubham Sangulage" src="images/adv.jpg" />

                </li>
                <li class="profile">
                    <h2 class="profile__name">ANSUL RANA</h2>
                    <img alt="Ansul Rana" src="images/pra.jpg" />

                </li>
                <li class="profile">

                    <h2 class="profile__name">DIVYAVANI CHERUKURI</h2>
                    <img alt="Divyavani Cherukuri" src="images/kee.jpg" />

                </li>

            </ul>
        </div>
    </article>
</body>

</html>