<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/team.css">
    <link rel="stylesheet" href="../static/css/nav.css">
</head>

<body>
    <nav>
        <label class="logo ">SANSKRITI</label>
        <ul>
            <li><a href="{{url_for( 'Map')}} ">Home</a></li>
            <li><a href="{{url_for( 'About')}} ">About</a></li>
            <li><a href="{{url_for( 'Contact')}} ">Contact</a></li>
            <li><a href="{{url_for( 'Gallery')}} ">Gallery</a></li>
            <li>
                <a href="{{url_for( 'Team')}} ">Team</a>
            </li>
        </ul>
    </nav>
    <article style="max-width: 80%; margin-left: 100px; " class="flow ">
        <h1>Our Team</h1>
        <p>SANSKRITI - THE CULTURE AND HERITAGE OF INDIA</p>
        <div class="team ">
            <ul class="auto-grid " role="list ">
                <li class="profile ">
                    <h3 class="profile__name ">RAVI YADAV</h3>
                    <img alt="Ravi Yadav " src="../static/images/sid.jpg " />

                </li>
                <li class="profile ">

                    <h3 class="profile__name ">SHUBHAM SANGULAGE</h3>
                    <img alt="Shubham Sangulage " src="../static/images/adv.jpg " />

                </li>
                <li class="profile ">
                    <h3 class="profile__name ">ANSUL RANA</h3>
                    <img alt="Ansul Rana " src="../static/images/Ansul.JPG " />

                </li>
                <li class="profile ">

                    <h3 class="profile__name ">DIVYAVANI CHERUKURI</h3>
                    <img alt="Divyavani Cherukuri " src="../static/images/kee.jpg " />

                </li>

            </ul>
        </div>
    </article>
</body>

</html>